.chart{
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_grey_dark;
    font-size: 1.3rem;

    &_controls{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 1rem 0rem 1rem;


        @include respond(lg-phone){
            flex-wrap: wrap;
        }


        & > *{
            width: 15%;


        
            @include respond(lg-phone){
                width: 15%;
            }
            
            @include respond(sm-phone){
                width: 80%;
                margin-top: .5rem;
            }

 
        }
    }
}

.graph{
    width: 100%;
    height: 100%;

    @include respond(lg-desktop){
        height: 100%;
    }

    @include respond(sm-tab){
        height: 80vw;
    }

    @include respond(sm-phone){
        height: 80vw;
    }



}