.chart{
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_grey_dark;
    font-size: 1.3rem;

    &_controls{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 3rem 1rem 0rem 1rem;

        @include respond(sm-desktop){
            flex-wrap: nowrap
        }
    
        @include respond(lg-tab){
            flex-wrap: wrap
        }



        & > *{
            width: 15%;


        
            @include respond(lg-tab){
                width: 15%;
            }
            
            @include respond(lg-phone){
                width: max-content;
                margin-top: .5rem;
            }
        }
    }
}

.graph{
    width: 100%;
    height: 100%;

    @include respond(lg-phone){
        height: 60%;
    }

    @include respond(lg-tab){
        height: 85%;
    }

    @include respond(lg-desktop){
        height: 100%;
    }


}