.dataTable{
    
    background-color: $color_white;
    overflow: hidden;
    position: relative;
    &_header{
        text-align: center;
    }

    &_body{
        padding: 0 2rem 0 2rem;
        overflow: hidden;

        &_label{
            display: flex;
            justify-content: space-between;

            & > *{

                @include respond(lg-phone){
                    font-size: 1.5rem;
                }

                @include respond(lg-tab){
                    font-size: 1.65rem;
                }

                @include respond(lg-desktop){
                    font-size: 2rem;
                }
    
            }

        }

        &_data{
            display: flex;
            justify-content: space-between;
            text-align: center;
            border-bottom: 2px solid $color_primary;
            border-left: 2px solid $color_primary;
            margin: 1rem 0;
        }

        &-time{
            width: 5.5rem;
            
        }

        &-light{
            width: 6rem;
        }

        &-temp{
            width: 6rem;
        }

        &-humidity{
            width: 10rem;
        }

        &-moisture{
            width: 10rem;
        }
    }

    &_spacer{
        position: absolute;
        top: 95%;
        width: 100%;
        height: 5%;
        z-index: 5;
        background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,1));
        
    }
}
