.dateBtn{
position: relative;
border: none;
border-radius: .5rem;
background-color: $color_primary;
font-size: 1.5rem;
font-weight: 900;
letter-spacing: .1rem;
color: $color_grey-dark;
outline: none;
cursor: pointer;

    &_center{
        border: .5rem solid $color_primary;
        background-color: $color_primary;
        display: block;
        padding: .25rem;
        border-radius: .25rem;
        background-color: white;
        transition: all .2s ease;

        & > i{
            padding-left: 1rem;
        }
    }



    &_center.expanded{
        left: 0rem;
        bottom: -1.7rem;
        padding: .25rem;
        position: absolute;
        overflow-y: scroll;
        height: 54rem;
    }

    &_item{
        padding: .08rem 2.5rem;
        &:hover{
            background-color: $color_primary;
            color: white;
        }
    }
}
