.deviceInfo{
    padding: 1.5rem;
    display: grid;
    grid-template-rows: [header-start] 3rem [header-end dev-name-start] 2.5rem [dev-name-end avg-input-start] 3rem [avg-input-end tol-input-start] 3rem [tol-input-end] 1fr [btn-end];
    grid-template-columns: [label-start] max-content [label-end light-start] 1fr [light-end temp-start] 1fr [temp-end humidity-start] 1fr [humidity-end moisture-start] 1fr [moisture-end]; 
    grid-row-gap: .5rem;
    
}


.dev_info{

    &_name{
        text-align: center;
        margin: 0 .5rem;
        background-color: rgba(0,0,0,.1);
        border: none;
        grid-row: header-start / header-end;
        grid-column: label-start / moisture-end;
    }
    
    &_header{
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        grid-row: dev-name-start /dev-name-end;
        grid-column: label-start / moisture-end;
        border-bottom: 3px solid $color_primary;
        padding-bottom: 1.5rem;
        
        &-light{
            grid-column: light-start / light-end;
           
        }

        &-temp{
            grid-column: temp-start / temp-end;
           
        }

        &-humidity{
            grid-column: humidity-start / humidity-end;
          
        }

        &-moisture{
            grid-column: moisture-start / moisture-end;
            
        }
    }

    &-avg{
        margin: 0 .5rem;
        text-align: center;
        background-color: rgba(0,0,0,.3);
        border: none;
        max-width: 9rem;
        
        grid-row: avg-input-start / avg-input-end;

        &-light{
            grid-column: light-start / light-end;
        }

        &-temp{
            grid-column: temp-start / temp-end;
        }

        &-humidity{
            grid-column: humidity-start / humidity-end;
        }

        &-moisture{
            grid-column: moisture-start / moisture-end;
        }


    }

    &-tol{
        margin: 0 .5rem;
        text-align: center;
        background-color: rgba(0,0,0,.3);
        border: none;
        max-width: 9rem;
        grid-row: tol-input-start / tol-input-end;

        &-light{
            grid-column: light-start / light-end;
        }

        &-temp{
            grid-column: temp-start / temp-end;
        }

        &-humidity{
            grid-column: humidity-start / humidity-end;
        }

        &-moisture{
            grid-column: moisture-start / moisture-end;
        }
    }

    &_label{
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        grid-column: label-start / label-end;
        &-average{
            grid-row: avg-input-start / avg-input-end;
        }

        &-tolerance{
            grid-row: tol-input-start / tol-input-end;
        }
    }

    &_btn{
       
        grid-column: label-start / moisture-end;
        grid-row: tol-input-end / btn-end;
    }
}

