.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(sm-tab){
        align-items: flex-start;
    }




    &_content{
        display: flex;
        flex-direction: column;
        background-color: $color_white;
        
        padding: 2rem;

        @include respond(sm-tab){
            transform: translateY(10%);
        }

    }

    &_header{
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 4rem;
        margin-bottom: 1.5rem;
    }


}

.modal_close{
    align-self: flex-end;
    margin: 0 1rem;
    width: 2rem;
    cursor: pointer;
    &:hover{
        transform: translateY(-.2rem) scale(1.15);
    }
    z-index: 102;
}