.header{
    display: flex;
    justify-content: space-between;
    background-image:  linear-gradient(0deg, rgb(0, 225, 255) 60%, rgb(0, 217, 255));
    padding: 10px 20px;
    
    &_link{
    
        text-decoration: none;

        &:link,
        &:active, 
        &:visited{
            color: #ffffff
        }
        &:hover{
            color: #85e7ff
        }
    }
}