.landing_center{

    display: grid;
    padding: 2rem;
    grid-template-columns: [signup] 1fr [signup-end] 1fr [login-end];
    grid-template-rows: [center-top-spacing] 3vh [center-top-spacing-end] max-content [center-header-end] max-content [mushroom-end] max-content [center-buttons-end] 1fr [center-end];
    grid-column-gap: 2rem;
    width: 45vw;
    margin: 0 auto;

}

.center-header{
    text-align: center;
    grid-column: signup / login-end;
    grid-row: center-top-spacing-end / center-header-end;
    font-family: 'Kanit', sans-serif;
    font-size: 7rem;
    font-weight: 800i;
    letter-spacing: .2rem;
    background: -webkit-linear-gradient(0deg, rgb(0, 140, 255), rgb(1, 58, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo{
    display: flex;
    width: 100%;
    justify-content: center;
    grid-column: signup / login-end;
    grid-row: center-header-end / mushroom-end;
    margin: 5rem 0;
}

.center-signup-btn{
    grid-column: signup / signup-end;
    grid-row: mushroom-end / center-buttons-end;
}

.center-login-btn{
    grid-column: signup-end / login-end;
    grid-row: mushroom-end / center-buttons-end;
}