.landing_kits{
    grid-column: landing-center-end / landing-kits-end; 
    
    &-btn{
        display: flex;
        flex-direction: column;

        &  *{
            margin-bottom: 2rem;
        }
        
    }
}