.dashboard{
    position: relative;
    margin: 2vh 2vw;
    width: 96vw;
    height: 96vh;
    display: grid;
    background-color: $color_grey-light;
    overflow: hidden;

    grid-template-columns: [d-start d-chart-start d-gauges-start] minmax(max-content, 65vw) [d-chart-end d-table-start d-info-start d-gauges-end ] minmax(max-content, 1fr) [d-info-end d-table-end d-end]; 
    grid-template-rows: [d-start d-header-start] 5rem [d-header-end d-chart-start d-table-start] 60vh [d-chart-end d-table-end d-gauges-start d-info-start] 1fr [d-info-end d-gauges-end d-end];
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    padding: 1rem 3rem 3rem 3rem;


    @include respond(lg-phone) { // width < 1200?
        margin: 0;
        margin-left: -1rem;
        width: 103vw;
        height: auto;
        padding: auto;
        grid-template-columns: [d-start d-chart-start d-table-start d-info-start d-gauges-start] 90vw [ d-chart-end d-table-end d-end d-info-end d-gauges-end]; 
        grid-template-rows: [d-start d-header-start] 5rem [d-header-end d-chart-start] max-content [d-chart-end d-table-start] 60vh [d-table-end d-gauges-start] 60vh [d-gauges-end d-info-start] 40vh [d-info-end];
    
    }

    @include respond(sm-tab) { // width < 1200?
        margin: 0;
        margin-left: -1rem;
        width: 103vw;
        height: auto;
        padding: auto;
        grid-template-columns: [d-start d-chart-start d-table-start d-info-start d-gauges-start] 90vw [ d-chart-end d-table-end d-end d-info-end d-gauges-end]; 
        grid-template-rows: [d-start d-header-start] 5rem [d-header-end d-chart-start] max-content [d-chart-end d-table-start] 60rem [d-table-end d-gauges-start] 40rem [d-gauges-end d-info-start] 35rem [d-info-end];
    }

    @include respond(lg-desktop) {
        margin: 2vh 2vw;
        width: 96vw;
        height: 96vh;
        grid-template-columns: [d-start d-chart-start d-gauges-start] minmax(max-content, 65vw) [d-chart-end d-table-start d-info-start d-gauges-end ] minmax(max-content, 1fr) [d-info-end d-table-end d-end]; 
        grid-template-rows: [d-start d-header-start] 5rem [d-header-end d-chart-start d-table-start] 60vh [d-chart-end d-table-end d-gauges-start d-info-start] 1fr [d-info-end d-gauges-end d-end];
        grid-column-gap: 3rem;
        grid-row-gap: 2rem;
        padding: 1rem 3rem 3rem 3rem;
    }
}

.menu{
    grid-column: d-start / d-end;
    grid-row: d-header-start / d-header-end;
}

.chart{
    grid-column: d-chart-start / d-chart-end;
    grid-row: d-chart-start / d-chart-end;
}

.dataTable{
    grid-column: d-table-start / d-table-end;
    grid-row: d-table-start / d-table-end;

}

.deviceInfo{
    grid-column: d-info-start / d-info-end;
    grid-row: d-info-start / d-info-end;

}

.gauges{
    grid-column: d-gauges-start / d-gauges-end;
    grid-row: d-gauges-start / d-gauges-end;

}