$color_primary: rgb(0, 168, 247);
$color_primary-light: rgb(80, 200, 255);
$color_primary-dark:rgb(1, 58, 143);

$color_secondary: black;

$color_grey-light: rgb(180, 183, 185);
$color_grey: rgb(118, 120, 122);
$color_grey-dark:rgb(56, 56, 56);

$color_black: rgb(0,0,0);

$color_btn_shadow: rgba(17, 0, 61,.8);

