$color_primary: rgb(0, 168, 247);
$color_primary-light: rgb(80, 200, 255);
$color_primary-dark:rgb(1, 58, 143);

$color_light: rgb(255, 230, 0);
$color_temp: rgb(255, 72, 0);
$color_humidity: rgb(0, 168, 247);
$color_moisture: rgb(55, 0, 255);

$color_grey-light: rgb(233, 236, 240);
$color_grey: rgb(185, 189, 194);
$color_grey_dark:rgb(56, 56, 56);

$color_white: rgb(255,255,255);
$color_black: rgb(0,0,0);

$color_btn_shadow: rgba(17, 0, 61,.8);

